{% element 'snippets/top-category' %}
<div class="row">
    <div class="col-sm-12">
        <div class="catalog-header">

            {% if products|length > 0 %}
                {% if breadcrumb %}
                    {% element 'snippets/breadc-catalog' %}
                {% endif %}
            {% endif %}

        </div>

        {% if products|length > 0 %}
            {% if breadcrumb %}


            {% element 'snippets/filterCatalog' {
                'brands': category.brands
            } %}

            {% endif %}
        {% endif %}


        <div class="paginateCatalogtop">
            {% element 'snippets/paginateCatalog' %}
        </div>
    </div>
</div>



{% if products|length > 0 %}

    <div class="catalog-content row">
        {% element 'showcase-catalog' {
            "products": products
        } %}
    </div>

    <div class="catalog-footer pagination">
        {% element 'snippets/paginateCatalog' %}
    </div>

{% else %}

    <div class="catalog-empty">
        <img src="{{ asset('img/catalog-empty.svg') }}" alt="Sem produtos" width="150" height="150">
        <p>Nenhum produto encontrado nessa categoria.</p>
    </div>

{% endif %}

<div style="display:none;">
    {% element 'snippets/history' {
        'store.id': store.id,
        'pages.current': pages.current,
        'category.id': category.id
    } %}
</div>

{% if banner.bottom %}
    <div class="banner banner-bottom">
        {{ banner.bottom }}
    </div>
{% endif %}