{% if settings.limitProducts %}
{% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 3 %}
{% endif %}

{% if settings.showcase == "featured" %}
{% set showcaseText = "Destaques" %}
{% elseif settings.showcase == "new" %}
{% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase == "free_shipping" %}
{% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase == "promotion" %}
{% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase == "top_seller" %}
{% set showcaseText = "NOVIDADES" %}
{% endif %}

{% if settings.showcase == "top_seller" %}
<div id="prognoos_popv1"></div>
{% set products = Products({
'filter': 'available',
'limit': limitProducts,
'order': {'quantity_sold': 'desc'}
}) %}
{% else %}
{% set products = Products({
'filter': settings.showcase,
'limit': limitProducts,
'order': 'rand'
}) %}
{% endif %}

<div class="container">
    {% if banner.extra1 and banner.extra2 %}
    <div class="row rowNoSpacing" style="margin-right: 1px;">
        <div class="col-sm-6 hidden-xs" >
            {% if banner.extra1 %}
            <a href="{{ banners.extra1.link }}" target="{{ banners.extra1.target }}">
                <img src="{{ banners.extra1.src }}" class="imgBannerEx3" alt="{{ banners.extra1.alt }}" >
            </a>
            {% endif %}
        </div>
        <div class="col-sm-6 hidden-xs">
            {% if banner.extra2 %}
            <a href="{{ banners.extra2.link }}" target="{{ banners.extra2.target }}">
                <img src="{{ banners.extra2.src }}" class="imgBannerEx3" alt="{{ banners.extra2.alt }}" >
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if banner.extra3 %}
    <div class="row nospacing" style="margin-top: 10px; margin-right: 6px;">
        <a href="{{ banners.extra3.link }}" target="{{ banners.extra3.target }}">
            <img src="{{ banners.extra3.src }}" class="imgBannerEx3 hidden-xs" alt="{{ banners.extra3.alt }}" >
        </a>
    </div>
    {% endif %}


    <div class="row nospacing" style="margin-bottom: 20px; padding-right: 5px;">

        <div class="row nospacing" style="    padding-left: 0px;">

        {% element 'showcase' {
            "products": products,
            "showcaseTitle": showcaseText
        } %}

        <div class="col-md-8" style="padding-left: 0px; padding-right: 0px;">
            {% if banner.extra2 %}
            <a href="{{ banners.extra4.link }}" target="{{ banners.extra4.target }}">
                <img src="{{ banners.extra4.src }}" class="imgBannerEx3" alt="{{ banners.extra4.alt }}" >
            </a>
            {% endif %}
        </div>
        <div class="col-md-4" style="padding-right: 0px;">
            <div class="home_Cadastre">
                <div class="newsletter">
                    {% element 'snippets/newsletter' %}
                </div>
            </div>

        </div>

    </div>

</div>