<section> 
    <div class="container">
        <div class="product_Breadcrumb row">
            {% element 'snippets/breadcrumb' { "class": 'breadcrumb'} %}
        </div>
        <div class="product_Content row">
            <div class="col-md-7" style="padding-left: 0px;">
                {% if utils.is_mobile %}
                <div class="product-gallery">
                    {{ productHelper.gallery() }}
                </div>
                {% else %}
                {% if product.images %}
                <div class="product-gallery">

                    <div class="thumbs-vertical" id="product-gallery">
                        <div class="carousel-gallery carousel-trigger-{{ product.id }}">
                            {% for key,product_image in product.images %}
                            <a href="#" data-image="{{ product_image.small }}" class="itrigger-{{ product.id }}" data-zoom-image="{{ product_image.small }}" alt="{{ product.name }}" title="{{ product.name }}">
                                <img src="{{ product_image.small }}" alt="{{ product.name }}">
                            </a>
                            {% endfor %}
                        </div> 

                        {% if product.variants.sku.Tamanho|length >= 2 %}
                        {% for key,product_image in product.variants.sku.Tamanho %}
                        <div class="carousel-gallery carousel-trigger-{{ product_image.id }}" style="display: none;">
                            {% for key2,product_img in product_image.images %}
                            <a href="#" data-image="{{ product_image.large }}" class="itrigger-{{ product.id }}" data-zoom-image="{{ product_image.large }}" alt="{{ product.name }}" title="{{ product.name }}">
                                <img src="{{ product_image.large }}" alt="{{ product.name }}">
                            </a>
                            {% endfor %}
                        </div>
                        {% endfor %} 
                        {% endif %}
                    </div>

                    {% if product.video %}
                    <iframe width="560" height="315" src="{{ product.video }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}

                    <div class="container-imagem">
                        <figure>
                            <img src="{{ product.images[0].large }}" data-zoom-image="{{ product.images[0].large }}" class="zoom" alt="{{ product.name }}">
                        </figure>
                    </div>

                </div>
                {% endif %}
                {% endif %}
                <!-- /Galeria -->


            </div>
            <div class="col-md-5">
                <div class="product_Title"> 
                    <h1>{{ product.name }}</h1>
                    <h3>COD {{ product.id }}</h3>
                </div>

                <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">

                    {% element 'snippets/productPrice' {"product": product} %}
                                        
                    <div class="produto-formas-pagamento" align="left">                        
                        <a href="#formaPagto" rel="nofollow" id="showPaymentMethods" class="color">
                            <span class="glyphicon glyphicon-plus"></span>
                            ver todas as formas de pagamento
                        </a> 
                    </div>

                    {% if productHelper.variants != '' %}
                    <div style="position:relative;">
                        {{ productHelper.variants() }}
                    </div>
                    {% endif %}

                    <div class="product_TabelaMedidas">
                        <a target="_blank" href="http://www.usebandup.hospedagemdesites.ws/sac_bandup/medidas/medidas.html"><h3>Tabela de medidas</h3></a>
                    </div>

                    {{ productHelper.gifts() }}
                    {{ product.additional_information }}

                    {% element 'snippets/buy-form' {"product": product} %}


                    {% if not product.upon_request and product.available %}
                    {% endif %}
                    {{ productHelper.shipping() }}

                    {% if product.additional_message %}
                    <div class="additional-message">
                        {{ product.additional_message }}
                    </div>
                    {% endif %}
                    
                    {% if productHelper.social != '' %}
                        <div class="redesSociaisProd">
                            {{ productHelper.social() }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="product_Details">
                <div id="ProdBlock">
                    <div id="loading-tab-container">
                        <img src='{{ tray.paths.system_image }}/big-loading.svg' />
                    </div>
                    <a name="formaPagto"></a>

                    <div id="ProdAbas" class="abasProduto">
                        <ul>
                            {% for key, tab in productTabs %}
                                {% if tab.container_id %}
                                    <li id="{{ tab.id }}" {% if key=='description' %}class="aberta" {% endif %}>
                                        <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">
                                            {{ tab.description }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>


                    <div id="descricao" class="prodBox">
                        <div class="board">
                            <div class="board_htm description">
                                {{ product.description ? product.description : product.description_small }}
                            </div>
                        </div>
                    </div>

                    <div id="itensInclusos" class="prodBox">
                        <div class="board">
                            {{ product.included_items }}
                        </div>
                    </div>

                    <div id="coments" class="prodBox">
                        <div class="board">
                            {% element 'product/comments' %}
                        </div>
                    </div>

                    <div id="caracteristicas" class="prodBox">
                        <div class='board'>
                            {% element 'product/properties' %}
                        </div>
                    </div>


                    {{ productTabs.custom.content }}
                    {{ productTabs.downloads.content }}


                    <div id="garantia" class="prodBox">
                        <img class="loader" src="{{ tray.paths.system_image }}/big-loading.svg" style="display:none;" />
                    </div>
                    <div data-app="product.payment-methods" id="formasPagto" class="prodBox" style="display:none;"></div>
                </div>
            </div>
        </div>
        <div class="row product_Galeria">
            <div class="">


                {% if product.related_products %}
                <div class="showcase">

                    <h2 class="titleProducts">
                        <strong>QUEM COMPROU, TAMBÉM GOSTOU DE...</strong>
                    </h2>

                    <div class="row product-list">
                        {% for related in product.related_products %}
                        <div class="col-sm-4 product">
                            {% element 'snippets/product' {"product": related} %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

        </div>        
    </div>
</section> 


<script>
    (function($){

        $("#vars0").css("display", "none");

        $(".color .lista-radios-input input").css("visibility", "hidden");
        $(".color .lista-radios-input input").css("width", "0px");

        $(".color .lista-radios-input span").css("fontSize", "12pt");

        $(".color .lista-radios-input").each(function(index) {
            $(this).html($(this).html().replace("Tamanho \\", ""))
        });

    })(jQuery);
</script>
 