{% if settings.limitProducts %}
{% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 3 %}
{% endif %}

{% if settings.showcase == "featured" %}
{% set showcaseText = "Destaques" %}
{% elseif settings.showcase == "new" %}
{% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase == "free_shipping" %}
{% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase == "promotion" %}
{% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase == "top_seller" %}
{% set showcaseText = "NOVIDADES" %}
{% endif %}

{% if settings.showcase == "top_seller" %}
<div id="prognoos_popv1"></div>
{% set products = Products({
'filter': 'available',
'limit': limitProducts,
'order': {'quantity_sold': 'desc'}
}) %}
{% else %}
{% set products = Products({
'filter': settings.showcase,
'limit': limitProducts,
'order': 'rand'
}) %}
{% endif %}

<div class="container-fluid">
    <div class="row nospacing" style="width: 100%;">
        <img src="{{ asset('img/manutencao.jpg') }}" class="imgBannerEx3 hidden-xs" alt="{{ banners.extra6.alt }}" >
    </div>    
</div>