{% set checkout = "checkout" in pages.current ? "true" : "false" %}
<footer>

    <div class="footer_content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer_contact">
                        <div class="footer_contactus row"> 
                            <img src="{{ themePath }}img/footer/icon_faleConosco.png"/>
                            <h5>FALE COM A GENTE</h5>
                        </div>
                        <div class="row">                            
                            <h4><span>(11)</span>3522 6507</h4>
                        </div>
                        <div class="row">
                            <h6>sac@fresnoshop.com.br</h6>    
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="footer_options">
                            <h5>INSTITUCIONAL</h5>

                            <ul>
                                <li>
                                    <h6>Sobre</h6>
                                </li>
                                <li>
                                    <h6>Cadastre-se</h6>
                                </li>
                                <li>
                                    <h6>Meus Pedidos</h6>
                                </li>
                                <li>
                                    <h6>Contato</h6>
                                </li>
                                <li>
                                    <h6>Política de Privacidade</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer_options">
                            <h5>Formas de Pagamento</h5>

                            <img src="{{ themePath }}img/footer/cartoes.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="footer_options">
                            <h5>DÚVIDAS</h5>

                            <ul>
                                <li>
                                    <h6>Entregas</h6>
                                </li>
                                <li>
                                    <h6>Pagamentos</h6>
                                </li>
                                <li>
                                    <h6>Trocas e Devoluções</h6>
                                </li>
                                <li>
                                    <h6>Segurança e Garantia</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer_options">
                            <h5>Compre com Segurança</h5>

                            <ul class="foo-seals">
                                {% if seals.ebit %}
                                <li class="seal-ebit pull-left">{{ seals.ebit }}</li>
                                {% endif %}
                                {% if seals.hackersafe %}
                                <li>{{ seals.hackersafe }}</li>
                                {% endif %}
                            </ul>

                            <h6>Site 100% Seguro</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="footer_options">
                            <h5>VENDA PARA ATACADO</h5>

                            <ul>
                                <li>
                                    <h6>(14) 3604 2020</h6>
                                </li>
                                <li>
                                    <h6>comercial@bandup.com.br</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer_options" style="margin-top: 35px;">
                            <h6>Essa loja e seus produtos são desenvolvidos por:</h6>
                            <img src="{{ themePath }}img/footer/logo_bandup.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="footer_options" style="padding: 0px 60px;">
                            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                                <img src="{{ themePath }}img/footer/icon_facebook.png"/>
                            </div>
                            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                                <img src="{{ themePath }}img/footer/icon_twitter.png"/>
                            </div>
                            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                                <img src="{{ themePath }}img/footer/icon_instagram.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div calss="footer_options" style="margin-top: 35px;">
                            <img src="{{ themePath }}img/footer/diamant_bit.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboveFooter_content">
        <h4>Fan Store Entretendimento S.A. - bandUP! - Av.Pedro Ometto, 1570 - Vila Narcisa - 17340-000 - Barra Bonita (SP)</h4>
        <h4>CNPJ: 01.424.397/0001-01 - Inscrição Estadual: 202.032.630.110</h4>
    </div>

</footer>