{% if products|length > 0 %}
    <div class="showcaseRow" >
        <div class="lineSeparate"></div>

        <div class="hidden-xs">

            <div class="showcase clearfix " data-tray-tst="vitrine_home">
                <h2 class="titleProducts">
                    <strong>{{ showcaseTitle }}</strong>
                </h2>

                

                    {% set counter = 0 %}

                    <ul id="areaId_{{counter}}" class="row">

                    {% for product in products %}
                        {% set ranking = product.ranking %}
                        <li class="col-sm-4" data-tray-tst="vitrine_produto" style="padding: auto 0px auto 0px;">
                            {% element 'snippets/product' {"product": product} %}
                        </li>

                        {% if loop.index is divisible by(3) %}
                            {% set counter = counter + 1 %}
                            </ul><ul id="areaId_{{counter}}" class="row">
                        {% endif %}

                    {% endfor %}
                    </ul>
                    
                    
                    <a onclick="anteriorEvento()" style="float: left; margin-top: -320px; z-index: 999; margin-left: -25px;">
                        <img id="linkImage_Esquerda" src="{{ themePath }}img/project/barraEsquerda.png"/>
                    </a>

                    <a onclick="proximoEvento()" style="float: right; margin-top: -320px; z-index: 999; margin-right: -25px;">
                        <img id="linkImage_Direita" src="{{ themePath }}img/project/barraDireita.png"/>
                        <img style="display: none" id="linkImage_DireitaInative" src="{{ themePath }}img/project/barraDireitaInative.png"/>
                    </a>
                

            <div class="lineSeparateFooter"></div>

            
        </div>
    </div>

            <div class="visible-xs">

                <div class="showcaseMob clearfix " data-tray-tst="vitrine_home">
                    <h2 class="titleProducts">
                        <strong>{{ showcaseTitle }}</strong>
                    </h2>

                    {% set counterMob = 0 %}

                    <ul id="areaMobId_{{counterMob}}" class="row">

                    {% for product in products %}
                        {% set ranking = product.ranking %}
                        <li class="col-sm-4" data-tray-tst="vitrine_produto" style="padding: auto 0px auto 0px;">
                            {% element 'snippets/product' {"product": product} %}
                        </li>

                        {% set counterMob = counterMob + 1 %}
                        </ul><ul id="areaMobId_{{counterMob}}" class="row">

                    {% endfor %}
                    </ul>
                    
                    
                    <a onclick="anteriorMobEvento()" style="float: left; margin-top: -320px; z-index: 999; margin-left: -25px;">
                        <img id="linkImage_Esquerda" src="{{ themePath }}img/project/barraEsquerda.png"/>
                    </a>

                    <a onclick="proximoMobEvento()" style="float: right; margin-top: -320px; z-index: 999; margin-right: -25px;">
                        <img id="linkImage_Direita" src="{{ themePath }}img/project/barraDireita.png"/>
                        <img style="display: none" id="linkImage_DireitaInative" src="{{ themePath }}img/project/barraDireitaInative.png"/>
                    </a>
                    <div class="lineSeparateFooter"></div>

            
                </div>
            </div>

        </div>
{% endif %}

<script>

    $(function($) {

        $(".showcase ul").each(function(data) {
            $(this).css("display", "none");
        });

        $(".showcaseMob ul").each(function(data) {
            $(this).css("display", "none");
        });

        $("#areaId_0").css("display", "block");
        $("#areaMobId_0").css("display", "block");        

    }, jQuery);

    function proximoEvento() 
    {
        var i = 0;

        var atual = $(".showcase ul:visible");

        if (typeof atual.attr("id") !== "undefined")
        {
            var id = atual.attr("id").replace("areaId_","");    

            id = Number(id) + 1;


            if (typeof $("#areaId_" + id) !== "undefined")
                {
                    if ($("#areaId_" + id).has( "li" ).length)
                    {
                        atual.animate(
                           {    
                               marginLeft: "-1200px"
                           }, 300, function() {

                           }
                        );

                        $("#areaId_" + id).css("margin-left", "800px");

                        $("#areaId_" + id).animate(
                           {    
                               marginLeft: "0px"
                           }, 300, function() {

                           }
                        );

                        $("#areaId_" + id).css("display", "block");
                        atual.css("display", "none");
                    }
                }
                else {
                    $("#linkImage_Direita").css("display", "block");
                    $("#linkImage_DireitaInative").css("display", "none");
                }
        }
    }

    function anteriorEvento() 
    {
        var i = 0;

        var atual = $(".showcase ul:visible");

        if (typeof atual.attr("id") !== "undefined")
        {
            var id = atual.attr("id").replace("areaId_","");    

            id = Number(id) - 1;

            if (typeof $("#areaId_" + id) !== "undefined")
                {
                    if ($("#areaId_" + id).has( "li" ).length)
                    {
                        $("#areaId_" + id).css("display", "block");
                        atual.css("display", "none");

                        atual.animate(
                           {    
                               marginLeft: "-1200px"
                           }, 300, function() {

                           }
                        );

                        $("#areaId_" + id).css("margin-left", "800px");

                        $("#areaId_" + id).animate(
                           {    
                               marginLeft: "0px"
                           }, 300, function() {

                           }
                        );

                    }
                }
        }
    }

        function proximoMobEvento() 
    {
        console.log("aqui");
        var i = 0;

        var atual = $(".showcaseMob ul:visible");

        if (typeof atual.attr("id") !== "undefined")
        {
            var id = atual.attr("id").replace("areaMobId_","");    

            id = Number(id) + 1;


            if (typeof $("#areaMobId_" + id) !== "undefined")
                {
                    if ($("#areaMobId_" + id).has( "li" ).length)
                    {
                        atual.animate(
                           {    
                               marginLeft: "-1200px"
                           }, 300, function() {

                           }
                        );

                        $("#areaMobId_" + id).css("margin-left", "800px");

                        $("#areaMobId_" + id).animate(
                           {    
                               marginLeft: "0px"
                           }, 300, function() {

                           }
                        );

                        $("#areaMobId_" + id).css("display", "block");
                        atual.css("display", "none");
                    }
                }
                else {
                    $("#linkImage_Direita").css("display", "block");
                    $("#linkImage_DireitaInative").css("display", "none");
                }
        }
    }

    function anteriorMobEvento() 
    {
        var i = 0;

        var atual = $(".showcaseMob ul:visible");

        if (typeof atual.attr("id") !== "undefined")
        {
            var id = atual.attr("id").replace("areaId_","");    

            id = Number(id) - 1;

            if (typeof $("#areaMobId_" + id) !== "undefined")
                {
                    if ($("#areaMobId_" + id).has( "li" ).length)
                    {
                        $("#areaMobId_" + id).css("display", "block");
                        atual.css("display", "none");

                        atual.animate(
                           {    
                               marginLeft: "-1200px"
                           }, 300, function() {

                           }
                        );

                        $("#areaMobId_" + id).css("margin-left", "800px");

                        $("#areaMobId_" + id).animate(
                           {    
                               marginLeft: "0px"
                           }, 300, function() {

                           }
                        );

                    }
                }
        }
    }
</script>