{% if products|length > 0 %}
<div class="showcase-catalog clearfix col-sm-12 col-md-12">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="row">
                {% for product in products %} {% set ranking = product.ranking %}
                <li class="col-sm-4" style="padding-left: 0px; padding-right: 0px">
                    {% element 'snippets/product' {"product": product} %}
                </li>
 {% endfor %}
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">
            <img class="img-responsive" src="{{ asset('img/project/barraEsquerda.png') }}" alt="" />
        </a>
        <a href="#" class="jcarousel-control-next">
            <img class="img-responsive" src="{{ asset('img/project/barraDireita.png') }}" alt="" />
        </a>

        <p class="jcarousel-pagination"></p>
    </div>


</div>
{% endif %} 