<!doctype html>
<html lang="pt-br" data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
    <head>

        <!-- tray charset -->
        {{ html.charset() }}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- [if IE]<meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

        <!-- tray meta tags -->
        {{ tray.meta }}

        <!-- tray styles -->
        {{ tray.styles }}

        <!-- theme styles -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">

        <!-- styles -->
        <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/elements/header.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/elements/footer.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/elements/cart.css') }}" type="text/css">

        <link rel="stylesheet" href="{{ asset('css/elements/home.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/pages/product.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/pages/search.css') }}" type="text/css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

  
        <!--[if IE]>
        <style>
            .actual-form table {
                width: 100%;
            }
        </style>
        <![endif]-->

        <style>
            {{ settings.custom_css }}
        </style>

        <!-- tray scripts -->
        {{ tray.scripts }}

        {% if pages.current == 'product' %}
        <script type="text/javascript" src="{{ asset('js/thumb-maior.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.elevatezoom.js') }}"></script>
        {% endif %}

        {% if utils.is_mobile %}
        {% if pages.current in ['product'] %}
            <link rel="stylesheet" href="{{ asset('css/open-mobile-v2.css') }}">
            <script type="text/javascript" src="{{ asset('js/open-mobilev2.js') }}"></script>
        {% endif %}
    {% endif %}
    
        <style>
            .Forma1 .tablePags, .caixa-formas-pagamento {
                display: inline-table;
            }
        </style>

        <!-- tray analytics -->
        {{ tray.analytics }}

        <!-- google tag manager -->
        {{ googleTagManager.header(pages.current, tagManagerData) }}
    </head>
    <body>
        {% element 'header' %}

        {% spaceless %}
        {{ googleTagManager.top(pages.current, tagManagerData) }}

        {% element 'snippets/messages' %}

        {% element 'snippets/menu-mobile' %}

        <div class="application">

        {% if pages.current == 'home' and banner.home %}

            {% if utils.is_mobile %}
                <div class="banners banner-home" id="BannerMobile">
                    <ul class="bannerHomeMobile">
                        {% for slide in banners.extra6.slides %}
                            <li>
                                <a href="{{ slide.link }}" target="{{ slide.target }}">
                                    <img src="{{ slide.image }}" alt="{{ slide.label }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for slide in banners.home.slides %}
                    <div class="item">
                        <a href="{{ slide.link }}">
                        <img src="{{ slide.image }}" alt="{{ slide.label}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- <div class="banners banner-home">
                {{ banner.home }}
            </div> -->
        {% endif %}

            <main class="site-main container">
                <div class="row">

                    <!--{% if "central" in pages.current %}-->
                    <!--{%  element 'sidebar-central' %}-->
                    <!--{% else %}-->
                    <!--{%  element 'sidebar-left' %}-->
                    <!--{% endif %}-->

                    <section class="page-content col-sm-12">
                        {{ content_for_layout }}
                    </section>
                </div>
            </main>

            {% element 'footer' %}
        </div>

        {% element 'snippets/credits' %}

        {{ googleTagManager.bottom(pages.current, tagManagerData) }}

        <!-- tray -->
        {% element 'snippets/modal' %}
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}
        {{ html.script('dist/application.min.js?' ~ utils.assets_version) }}
        {% element 'snippets/pageview' %}
        {{ store.chat }}

        <!-- theme scripts-->
        <script type="text/javascript" src="{{ asset('js/modules/theme.js') }}"></script>

        {% if pages.current == 'home' %}
        <script type="text/javascript">
            jQuery(document).ready(function(){
            jQuery('.bannerHomeMobile').slick({
            dots: true,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 5000
            });
        });
        </script>
        <script src="{{ asset('js/slick.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
        <script src="{{ asset('js/elements/style.js') }}"></script>
        {% endif %}

        {% if settings.background_image %}
        <style>
            body{
                background-image: url('{{ themePath }}{{ settings.background_image }}');
            }
        </style>
        {% endif %}

        {% endspaceless %}

    <script>
        jQuery(".header_CarrinhoArea").mouseenter(function() {
            jQuery(".cart").css("display", "block");
        });

        jQuery(".header_CarrinhoArea").mouseleave(function() {
            jQuery(".cart").css("display", "none");
        });

        jQuery(".header_loginBox").mouseenter( function() {
            jQuery(".loginBox").css("display", "block"); 
        });

        jQuery(".header_loginBox").mouseleave(function() {
            jQuery(".loginBox").css("display", "none");
        });
    </script>

    </body>
</html>