<div class="areaCategorias">
    <div class="row">
    <ul class="level1">
        <li  class="item-level1">
            <h3>
                <a class="link-level1" href="{{ links.home }}">HOME</a>
            </h3>
        </li>

    {% set categorias = [17,19,21,23,25] %}
    {% for level1 in categories %}
        {% if loop.index <= limit or not limit %}
            {% if level1.id in categorias %}
                <li class="item-level1 cat-{{ level1.id }}">
                    <h3>
                        <a class="link-level1" href="{{ level1.link }}">{{ level1.name }}</a>
                    </h3>
                    {% if level1.children > 0 %}
                    <ul class="level2">
                        {% if level1.images %}
                            <img src="{{ level1.images[0] }}" alt="{{ level1.name }}">
                        {% endif %}
                        <div>
                        {% for level2 in level1.children %}
                            <li class="item-level2">
                                <h4>
                                    <a href="{{ level2.link }}" class="link-level2">{{ level2.name }}</a>
                                </h4>
                                {% if level2.children > 0 %}
                                    <ul class="level3">
                                        {% for level3 in level2.children %}
                                            <li class="item-level3">
                                                <h5>
                                                    <a href="{{ level3.link }}" class="link-level3">{{ level3.name }}</a>
                                                </h5>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </div>
                    </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul
    </div>
</div>