<div class="product_Price">
    <div class="product_PriceArea" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% if product.available %}

        {% if product.stock > 0 %}

        {% if product.upon_request %}
        <p>Produto Sob Consulta</p>
        {% else %}

        {% if product.price_offer > 0 and product.show_price %}
        <div class="price-before">
            <div itemprop="priceCurrency" content="BRL"><abbr class="currency" title="BRL">De: {{ settings.currency }}</abbr> {{ product.price|currency }}</div>
        </div>
        <div class="price-promotion">
            <div itemprop="offers" class="price-off" itemscope itemtype="http://schema.org/Offer">
                <span class="color-tone-2 txt-por">Por:</span>
                <abbr class="newValue" title="BRL"> R$ </abbr>
                <span data-app="product.price" id="variacaoPreco" data-tray-tst="price_product">
                    {{ product.price_offer|currency  }}
                </span>
            </div>
        </div>
        {% else %}
        
        <h2 itemprop="priceCurrency" content="BRL">
            <strong style="font-family: 'OxygenRegular'; color: #232323; font-weight: 800; font-size: 18pt; margin-left: 15px;">Por: </strong>
            <strong style="font-family: 'OxygenRegular'; color: #232323; font-weight: 800;">
                R$ {{ product.price|currency }}
            </strong>
        </h2>
        {% endif %}
        {% endif %}

        {% else %}
        <p>Esgotado!</p>
        {% endif %}
        {% endif %}

    </div>

    {% if product.payment %}
    <h4 style="line-height: 7px;
    font-size: 10pt;
    font-weight: bold;
    font-family: OxygenRegular;">{{ product.payment }}</h4>
    {% endif %}
</div>