<div itemscope itemtype="http://schema.org/Product" class="product">
    <a href="{{ product.link }}" data-tray-tst="vitrine_produto_link_imagem">
        <div class="product-image" onmouseover="sobreImagem(this)" onmouseout="deixaImagem(this)">
           {{ dump(product.images[1]) }}
            {% if product.images %}
                    <img data-original="{{ product.images[0].medium }}" class="img-responsive lazy firstImage" src="{{ asset('img/loading.svg') }}" alt="{{ product.name }}" >
                    {% if product.images|length > 1 %}
                        <img src="{{ product.images[1].medium }}" class="img-responsive lazy hoverImage" alt="{{ product.name }}" style="display:none">
                    {% endif %}
            {% else %}
                <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada" width="100">
            {% endif %}
        </div>

        <div class="row" >
            <div class="product-name" itemprop="name">{{ product.name }}</div>

            <div class="product-price">
                {% element 'snippets/price' {"product": product} %}
            </div>

            {% if product.payment %}
                <div class="product-payment">
                    {{ product.payment }}
                </div>
            {% endif%}
        </div>
    </a>

    {% if pages.current == 'catalog' and settings.compare %}
    <div class="compare-buttons">
        {% set compareCSS = 'compare-hidden' %}

        <a data-compare="remove" href="{{ links.compare_delete ~ product.id }}" class="{{ not product.compare ? compareCSS }}">
            <span class="filter-checkbox checked"></span>
            {{ Translation("remover_comparar") }}
        </a>

        <a data-compare="add" href="{{ links.compare_add  ~ product.id }}" class="{{ product.compare ? compareCSS }}">
            <span class="filter-checkbox"></span>
            {{ Translation("comparar_produto") }}
        </a>
    </div>
    {% endif %}
</div>

<script>
    function sobreImagem(data) {

        if ($(data).children().last().attr("class")=== "img-responsive lazy hoverImage")
        {
            $(data).children().first().css("display", "none");
            $(data).children().last().css("display", "inline-block");
        }        
    };

    function deixaImagem(data) {

        if ($(data).children().last().attr("class")=== "img-responsive lazy hoverImage")
        {
            $(data).children().first().css("display", "inline-block");
            $(data).children().last().css("display", "none");
        }        
    };
</script>