/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26/01/2017, 11:12:38
    Author     : MarceloMacedo
*/

@font-face {
    font-family: OswaldRegular;
    src: url('fonts/oswald/Oswald-Regular.ttf'), url('fonts/oswald/Oswald-Regular.eot');
}

@font-face {
    font-family: OswaldBold;
    src: url('fonts/oswald/Oswald-Bold.ttf'), url('fonts/oswald/Oswald-Bold.eot');
}

@font-face {
    font-family: OxygenBold;
    src: url('fonts/oxygen/Oxygen-Bold.ttf'), url('fonts/oxygen/Oxygen-Bold.eot');
}

@font-face {
    font-family: OxygenRegular;
    src: url('fonts/oxygen/Oxygen-Regular.ttf'), url('fonts/oxygen/Oxygen-Regular.eot');
}

@font-face {
    font-family: BebasNeueBook;
    src: url('fonts/bebas-neue-book/BebasNeueBook.ttf'), url('fonts/bebas-neue-book/BebasNeueBook.eot');
}

@font-face {
    font-family: OxygenLight;
    src: url('fonts/oxygen/Oxygen-Light.ttf'), url('fonts/oxygen/Oxygen-Light.eot');
}

@font-face {
    font-family: LatoRegular;
    src: url('fonts/lato/Lato-Regular.ttf'), url('fonts/oxygen/Oxygen-Light.eot');
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url('fonts/glyphicons-halflings-regular.ttf'), url('fonts/glyphicons-halflings-regular.eot');
}

