.row {
    margin-right: 0;
    margin-left: 0;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27/01/2017, 09:22:04
    Author     : MarceloMacedo
*/

.page-product .product-detail {
    border: none;
}

.product_AreaPreviewImage img {
    margin: 10px auto;
}

.product_AreaImage img {
    margin:auto;
}

.thumbs-vertical{
    width:110px; float:left;
}
.thumbs-vertical .carousel-gallery > a{display:block; margin-bottom:25px;}
.container-imagem{
    text-align:center; margin-left:110px;
}
.container-imagem>div{max-width:100%; padding:0 0 5px; margin-bottom:10px; position:relative;}

.product_Breadcrumb {
    margin: 20px 0px 0 0;
}

.product_Title {
    margin-bottom: 5px;
}


@media (min-width: 768px) {
    
    .redesSociaisProd {
        margin-top: 100px;
    }
    
    .page-product .lista_cor_variacao, .page-product .lista_cor_variacao2 {
        padding: 5px 2px 0;
    }

    .product {
        margin: 0px;
    }

    .product-image {
        margin-left: -15px;
    }

    .product .product-image {
        margin-bottom: 5px;
    }

    .page-product #quant {
        height: auto;
        margin: -9px 0 0 13px;
        border: none;
        color: #232323;
    }

    #plus {
        position: absolute;
        margin: 9px 0 0 -7px;
        width: 25px;
        height: 25px;
        background-color: #e9e9e9;
        border: 1px solid #999;
        color: #666;
        line-height: 0;
        
    }
 
    #minus {
        position: absolute;
        left: 75px;
        height: 25px;
        width: 25px;
        margin: 9px 0 0 0;
        line-height: 0;
        background-color: #e9e9e9;
        border: 1px solid #999;
        color: #666;        
    }

    .page-product #quantidade {
        margin: 0;
        max-width: 175px;
    }

    .product_Quantidade {
        border: 1px solid #b1b1b1;
        border-radius: 0px;
        margin:  10px 0 20px 0;
        height: 45px;
    }

    .product_Title h1 {
        font: 800 21px/27px 'OxygenRegular', sans-serif;
        text-transform: uppercase;
        font-size: 13pt; 
        /* letter-spacing: 1px; */
        /* margin-top: 5px; */ 
        line-height: 25px;
    }

    .product_Title h3 {
        font-family: OxygenRegular;
        text-transform: uppercase;
        font-size: 10pt;
        line-height: 50px;
    }

    .product_PriceArea h2 {
        font: 600 14px 'OxygenRegular', sans-serif;
        font-size: 20pt;
        letter-spacing: 1px;
    }

    .product_PriceArea h4 {
        font: 600 14px 'OxygenRegular', sans-serif;
        font-size: 11pt;
        float: left;
        margin-right: 5px;
        margin-top: 15px;
    }

    .product_TabelaMedidas h3 {
        margin-top: -91px;
        float: right;
        margin-right: 60px;
        text-decoration: underline;
    }

    #button-buy {
        min-width: 430px;
        height: 45px;
        background: #26ab65;
    }

    .product_Details {
        max-width: 100%;
        margin-top: 40px;
        border-top: 1.4px solid #c2c2c2;
        padding: 20px 40px;
    }

    .product_Quantidade h2 {
        line-height: 35px;
        padding: 4px 0px;
        color: #959595;
    }
    
    .texto_variacao {
        margin-top: 20px;
    }
     
    .produto-formas-pagamento {
        padding-bottom: 20px;
    }
    
    .produto-formas-pagamento a:hover{
        text-decoration: underline;
    }
}

@media (max-width: 768px) {

    

    .page-product #quant {
        height: auto;
        margin: -10px 0 0 40px;
        border: none;
        color: #959595;
    }

    #plus {
        position: absolute;
        margin: 6px 0 0 10px;
        width: 30px;
        height: 30px;
        background-color: #e9e9e9;
        border: 1px solid #999;
        color: #666;
        line-height: 0;
        
    }

    #minus {
        position: absolute;
        left: 112px;
        height: 30px;
        width: 30px;
        margin: 6px 0 0 0 ;
        line-height: 0;
        background-color: #e9e9e9;
        border: 1px solid #999;
        color: #666;
        
    }

    .product_Quantidade {
        border: 1px solid #b1b1b1;
        border-radius: 3px;
        margin:  10px 0 20px 0;
        height: 45px;
    }

    .page-product #quantidade {
        margin: 0;
    }

    .product_Title h1 {
        font-family: OxygenRegular;
        text-transform: uppercase;
        font-size: 18pt;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 20px;
    }

    .product_Title h3 {
        font-family: OxygenRegular;
        text-transform: uppercase;
        font-size: 10pt;
        text-align: center;
        margin-top: 5px;
    }

    .product_Price {
        text-align: center;
    }

    .product_PriceArea {
        max-width: 150px;
        margin: auto;
    }

    .product_PriceArea h2 {
        font-family: OxygenRegular;
        font-size: 20pt;
        letter-spacing: 1px;
    }

    .product_PriceArea h4 {
        font-family: OxygenRegular;
        font-size: 11pt;
        float: left;
        margin-right: 5px;
        line-height: 30px;
    }

    .page-product #menuVars {
    }

    .product_TabelaMedidas {
        height: 10px;
    }

    #cepbox a {
        position: absolute;
        margin-top: -2px;
    }

    .product_TabelaMedidas h3 {
        margin-top: -10px;
        margin-right: 10px;
        text-decoration: underline;
    }

    .page-product .product-name {
        margin-top: 10px;
    }

    .varCont ul li ul li {
        display: block;
        border: none;
        background: #FFF;
        font-weight: 400;
        font-size: 11px;
        margin: 0;
        color: #555;
    }

    .page-product .lista_cor_variacao, .page-product .lista_cor_variacao2 {
        display: block;
        overflow: hidden;
        padding: 2px 2px 0;
        max-width: 223px;
        margin-bottom: 9px;
    }

    #button-buy {
        min-width: 100%;
        height: 45px;
        background: #26ab65;
        line-height: 2px;
    }

    .areaBreadCrumb {
        text-align: left;
    }

    .board_htm, .description {
        max-width: 300px;
        overflow: scroll;
    }

    .product_Details {
        max-width: 100%;
        overflow: scroll;
        padding: 20px 10px;
        margin-top: 40px;
        border-top: 1.4px solid #c2c2c2;
    }

    .showcase>h2 strong {
        line-height: 35px;
    } 

    .product {
        padding: 0px;
    }

    .product_Galeria { 
        max-width: 98%;
    }

    .product_Quantidade h2 {
        line-height: 35px;
        padding: 4px;
        color: #959595;
        margin-left: 5px;
    }
     
    .produto-formas-pagamento {
        padding-bottom: 10px;
    } 
   
}






.product_Price {
    margin-bottom: 15px;
}

.page-product .lista_cor_variacao li, .page-product .lista_cor_variacao2 li {
    border: 1px solid #a7a7a7;
    height: 32px;
    width: 45px;
    text-align: center;
}

.page-product .lista_cor_variacao li div, .page-product .lista_cor_variacao2 li div {
        height: 30px;
    width: 45px;
    color: #121212;
    font-family: OxygenRegular;
    font-size: 10pt;
}

.page-product #bt_comprar {
    width: 100%;
    padding-top: 20px;
}



#button-buy span {
    font-family: OxygenRegular;
    letter-spacing: 8px;
    font-weight: 300;
    font-size: 11pt;
    margin-top: -10px;
}

.page-product .product-quantity {
    width: 100% !important;
}





.product_Quantidade h3 {
    line-height: 35px;
    padding: 4px;
    color: #959595;
    margin-left: 5px;
}
.product_TabelaMedidas a  h3{
    text-decoration: underline;
    font-style: italic;
    border: none;
}

.product_Quantidade input {
    float: left;
    height: 44px;
    border: none;
}

.prodBox .board {
    margin: 0px;
}

.produto-formas-pagamento a {
    color: #8d3757 !important;
    font-weight: 600 !important;
    background: none !important;
    text-transform: none !important;
        font-size: 10pt;
}



input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.page-product .product-buy-button i {
    display: none;
}

.product_TabelaMedidas a {
    position: absolute;
    z-index: 99;
    right: 0px;
}





.board_htm.description p {
    margin: 0.5em 0;
}

.prodBox {
    font-size: 130%;
    font-family: OxygenRegular;
    margin: 20px 0px;
}

.qtminus {
    display: none;
}

.qtplus {
    display: none;
}

#show_size_and_color_secondary_type {
    display: none;
}

.page-product .lista_cor_variacao li div.cor_selecionada {
    background-color: #232323;
    color: #fff;
}

#foto_a {
    margin: auto;
}

#select_ordem {
        margin-left: 5px;
    border-radius: 0;
    display: inline-block;
    font: 600 12px 'OxygenRegular',sans-serif;
    margin: 0;
    width: auto;
    height: 34px;
    padding: 6px 12px;
        background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
}

#catalog_OrganizarLbl {
    color: #433f3f;
    font: 700 12px 'OxygenRegular',sans-serif;
}