
.page-checkout_cart #tabela_carrinho .qntd {
    border-radius: 5px;
}


.carrinho-tabs {
    background: #fff;
    border: none;
    
}

@media (max-width: 767px) {
    .carrinho-tabs ol {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .page-checkout_cart #tabela_carrinho td:nth-child(1) {
        width: 100%;
    }
    .page-checkout_cart #tabela_carrinho td:nth-child(1) img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .page-checkout_cart #tabela_carrinho td:nth-child(2)~td {
        width: 100%;
        margin-bottom: 15px;
    }
    .page-checkout_cart #tabela_carrinho .qntd {
        float: left;
        margin-left: 100px;
    }

    .page-checkout_cart #tabela_carrinho .refresh {
        /* margin: 5px auto 0; */
        margin-right: 100px;
        float: right;
    }

    .page-checkout_cart #tabela_carrinho tr {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #e2e2e2;
    }
    table tbody tr.sub-total {
        display: none;
    }
}

@media (min-width: 767px) {
    .carrinho-tabs ol {
        border-bottom: 1px dotted #9a9a9a;
        border-top: 1px dotted #9a9a9a;
        padding: 20px 0;
        text-align: center;
    }
}

.carrinho-tabs li {
    display: inline-block;
    float: none;
    opacity: .5;
    width: auto;
    margin-left:10px;
}

.carrinho-tabs li .passo-num {
    background-color: #656565;
    border-radius: 25px;
    color: #fff;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}

.carrinho-tabs .passo-num:after {
    content: none;
}

.carrinho-tabs li .passo-num, .carrinho-tabs li .passo-text {
    display: inline-block;
    font: 700 14px/25px 'Oxygen',sans-serif;
    vertical-align: middle;
}

.carrinho-tabs li:after { 
    background-color: #d4d4d4;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 0 8px;
    width: 35px;
    vertical-align: middle;
}

.carrinho-tabs .passo-text {
    color: #656565;
    text-transform: uppercase;
}

.carrinho-tabs li .passo-num, .carrinho-tabs li .passo-text {
    display: inline-block;
    font: 700 14px/25px 'Oxygen',sans-serif;
    vertical-align: middle;
}

.page-checkout_cart .caixa-forma-frete {
    width: 100% !important;
}


@media (max-width: 767px) {
    .page-checkout_cart .caixa-forma-frete>table tr:first-child th:first-child {
        float: left;
        width: 100%;
    }
}
@media (min-width: 767px) {
    .page-checkout_cart .caixa-forma-frete>table tr:first-child th:first-child {
        float: left;
        width: 70%;
    }
}



.page-checkout_cart #tab input[type=radio], .page-checkout_cart .caixa-forma-frete div {
    display: inline;
    outline: 0;
}


@media (max-width: 767px) {
    .page-checkout_cart .caixa-forma-frete>table tr:first-child #calculoFrete label:first-child {
        margin-left: 15px;
        font-size: 1.1em;
    }
}
@media (min-width: 767px) {
    .page-checkout_cart .caixa-forma-frete>table tr:first-child #calculoFrete label:first-child {
        margin-left: 15px;
        font-size: 1em;
        margin-right: 34px;
    }
}


.page-checkout_cart .caixa-forma-frete tr {
    border-bottom: 1px dotted #c9c9c9;
}

.page-checkout_cart #cep1, .page-checkout_cart #cep2 {
    text-align: center;
    margin-bottom: 0;
    vertical-align: 1px;
    height: 35px;
}

.page-checkout_cart #cep1 {
    width: 100%;
    height: 35px;
    max-width: 125px;
}

.page-checkout_cart .caixa-forma-frete span.bt-cep {
    position: relative;
    margin-left: 10px;
}

.wrap-cupom {
    width:100%;
}

@media (max-width: 767px) {
    .wrap-cupom th.caixa-cupom {
        margin-bottom: 15px;
        margin-top: 10px;
    }
}
@media (min-width: 767px) {
   .wrap-cupom th.caixa-cupom {
        text-align: left;
        max-width: 50%;
        float: left;
        margin-bottom: 15px;
    }
}

.wrap-cupom th h3 {
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}


.wrap-cupom th h3.valores_desconto {
    float: left;
}

.wrap-cupom th h3 .valores_carrinho {
    font-family: OxygenRegular;
    font-size: 20px;
    color: #000;
    font-style: oblique;
    font-stretch: condensed;
    font-weight: 500;
    float: right;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .page-checkout_cart .caixa-forma-frete .caixa-cupom label {
        color: #000;
        display: block;
        font: 700 1.1em 'Oxygen',sans-serif;
        vertical-align: middle;
        text-align: center;
    }
}
@media (min-width: 767px) {
    .page-checkout_cart .caixa-forma-frete .caixa-cupom label {
        color: #000;
        font-size: 1em;
        line-height: 14px;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 10px;
    }
}

.page-checkout_cart .caixa-forma-frete .caixa-cupom input {
    height: 35px;
    min-width: 195px;
}

.pointer {
    cursor: pointer;
    margin-left: 10px;
}

.board h2{
    font-family: OxygenRegular;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
}

.page-checkout_cart div.bt-continuar-comprando img{
    display: none;
}

.page-checkout_cart .AvancarTopo+.bt-avancar, .page-checkout_cart .bt-continuar-comprando+.bt-avancar img {
    display: none;
}

.page-checkout_cart .AvancarTopo+.bt-avancar, .page-checkout_cart .bt-continuar-comprando+.bt-avancar {
    line-height: 0;
    margin-bottom: 20px;
    padding: 23px 60px 23px 60px;
    background: #28A527;
    color: #fff;
    font-size: 2em;
    font-weight: 800;
    line-height: 2rem;
}

.page-checkout_cart div.bt-continuar-comprando {
    width: 50%;
}

@media (max-width: 767px) {
    .page-checkout_cart div.bt-continuar-comprando {
        max-width: 250px;
        padding: 20px 25px 17px 35px;
        border: 1px solid #D3D3D3;
        border-radius: 1px;
        background: #fff;
        color: #656565;
    }
}
@media (min-width: 767px) {
    .page-checkout_cart div.bt-continuar-comprando {
        max-width: 250px;
        padding: 25px 25px 25px 35px;
        border: 1px solid #D3D3D3;
        border-radius: 1px;
        background: #fff;
        color: #656565;
    }
}


.page-checkout_cart div.b t-continuar-comprando a.continuar-comprando{ 
    margin: 12px;
    font-size: 15px;
}

.botao-continuar-comprando .botao-commerce-img {
    display: none;
}

.wrap-shipping-forms td  {
    width: 100%;
}

@media (max-width: 767px) {
    .wrap-shipping-forms h3 {
        width: 100px;
    }
    .page-checkout_cart .caixa-forma-frete #formas_envio_frete {
        display: block;
        overflow: hidden;
        width: 100%;
    }
}
@media (min-width: 767px) {
    .wrap-shipping-forms h3 {
        width: 250px;
    }
    .page-checkout_cart .caixa-forma-frete #formas_envio_frete {
        display: block;
        overflow: hidden;
        width: 80%;
        padding-left: 30px;
    }
}

.page-checkout_cart .Seguro+.board {
    text-align: left;
}

.page-checkout_cart .Seguro+.board h2:before {
    display: none;
}

.page-checkout_cart .Seguro+.board a {
    background: #fff;
    color: #337ab7;
    display: block;
    font-size: 1.5rem;
    margin: 15px 0 0 0;
    padding: 0px;
}

.tablePage tbody tr th {
    text-transform: uppercase;
    font-size: 8pt;
    line-height: 15px;
    text-align: center;
}

.page-checkout_cart #tabela_carrinho a strong {
    font-family: OxygenRegular;
    text-transform: uppercase;
    font-weight: 300;
}

.page-checkout_cart #tabela_carrinho td:first-child a {
    padding: 0px;
}

.page-checkout_cart .caixa-total tr {
    background:#ebebeb;
    height: 55px;
}

.page-checkout_cart .caixa-total h3 {
    font-family: OxygenRegular;
    font-size: 20px;
    color: #000;
    font-style: oblique;
    font-stretch: condensed;
    font-weight: 500;
}

.page-checkout_cart .caixa-botoes {
    margin-top: 40px;
}

.loginBox {
    display: none;
    position: absolute;
    background-color: #fff;
    width:270px;
    top: 40px;
    right: 173px;
    padding: 10px;
    border: 1px solid #232323;
    z-index: 999;
    margin-top: -5px;
}


.loginBox input {
    background-color: #ebebeb;
    outline: 0;
    border: 0;
    color: #232323;
    display: block;
    font: 400 11px/1.4 'Oxygen',sans-serif;
    height: 40px;
    margin-bottom: 8px;
    padding: 0 7px;
    width: 100%;
}

.loginBox button {
    background-color: #232323;
    border: none;
    margin-bottom: 6px;
}

.loginBox h3 {
    color: #232323;
    font: 600 12px/30px 'Oxygen',sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px dashed #232323;
    text-align: center;
}

.loginBox a {
    background-color: #8d3756;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    font: 500 12px/40px 'Oxygen',sans-serif;
    height: 40px;
    text-transform: uppercase;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    display: block;
}

.loginBox button {
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    font: 500 12px/40px 'Oxygen',sans-serif;
    height: 40px;
    text-transform: uppercase;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.loginBox button + div {
    border-bottom: 1px dashed #232323;
    width: 98%;
    height: 1px;
    margin: 0px auto 6px;
}

.cart {
    display: none;
    position: absolute;
    background-color: #fff;
    width:350px;
    top: 40px;
    right: 0px;
    padding: 10px;
    border: 1px solid #232323;
    z-index: 999;
    margin-top: -4px;
}

.cart button {
    background-color: #60bd2c;
    width: 100%;
    border: none;
    padding: 5px 0px;
    margin-top: 10px;
    color: #fff;
    font-size: 10pt;
    height: 100%;
}

.cart .list .subtotal{color:#3c3c3c;font:700 11px/14px Lato,sans-serif;text-align:left;text-transform:none; line-height: 20px; margin-top: 20px;}
.cart .list .subtotal span{float:right}
.cart .list .subtotal button:before{content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAABLFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98NJAmAAAAY3RSTlMAAQIDBAUGBwgKCw0QExUXGBobHB0iIyYnKCkqMDI0NTY3QENESE9RW2BhYmdub3Byc3R1e4CEipGUoqSlpqeqsLS2ubu+xMXGy87S2tze3+Dh5OXm6err7u/w8vP19vj8/f489dyoAAAA5UlEQVR4AX3MaTcCcRzF8UuI7ItCZJGlsTQMWSI7Cc1MIhHTuO//PfiP35n/OeOBz8N77vmiUq87a/jDJnnRgagF84yNQn5Hs8w5APPvjKoAGLxn27WF81T7ZgvKEd8y02kxueGzAGXd9xYRsvicgpJ2eQCIgVue90JJXPIGEJkm8/i1z9fV1Exg6pAvszKueGxU3YDt8Sou40iZWntTl8ztLbGb68e/4hM9CAwPQUuePpwkgS6jfGd0QnSXSB4nkP0kv5YgxqskH8ewR8UKi0WSxT5kW+THMsJrqXk9CsRyNceIAT8zmTmcNFqc/AAAAABJRU5ErkJggg==);display:inline-block;line-height:12px;margin-right:7px;vertical-align:middle}

.list img {
    width: 25%;
    position: relative;
}

.item-image{width:25%; }
.list span[class="item-name"]{
    text-align: left;
    text-transform: none;
    width: 50%;
    display: inline-block;
    line-height: 15px;
    font-size: 9pt;
    padding: 5px;
}
.list span[class="item-price"]{
    width: 25%;
    font-size: 9pt;
    float: right;
    text-align: right;
    line-height: 65px;
}

.calculoFrete {
    text-align: left;
}

.page-checkout_cart #tabela_carrinho h5 {
    font-size: 8pt;
    line-height: 14px;
    margin-top: 5px;
}

@media (max-width: 767px) {    
    .color {
        margin-top: 5px
    }

    .page-checkout_cart #tabela_carrinho tr:last-child td {
        display: none;
        border-bottom: none;
        padding: 0px 5px;
        color: #000;
        text-align: center;
    }

    .sub-total-value {
        float: right;
        margin-top: -15px;
        display: none;
    }

    .valores_carrinho {
    }

    #calculoFrete {
        float: left;
        width: 100%;
    }

    #mostra_total {
        display: inline;
    }

    .page-checkout_cart .caixa-total table {
        margin: 20px 0 10px 0;
    }

    .wrap-shipping-forms td["align:right"] {
        float: right;
        margin-top: -55px;
    }

    #cupon {
        border-top: 1px solid;
        margin: 20px 0px 20px 2px;
        padding: 5px;
    }
    
    .page-checkout_cart .caixa-botoes .botao-commerce.botao-prosseguir-compra {
        width: 48%;
        height: 47px;
        line-height: 10px;
    }
    
    .page-checkout_cart #tabela_carrinho td:first-child img {
        padding: 5px;
    }
    
    
}

@media (min-width: 767px) {
    .page-checkout_cart #tabela_carrinho tr:last-child td {
        border-bottom: none;
        padding: 10px 45px;
        color: #000;
        text-align: right
    }

    .page-checkout_cart .caixa-total table {
        margin: 20px 0 0 0;
    }

    #calculoFrete {
        float: left;
        width: 100%;
        text-align: left;
    }

    .wrap-cupom {
        float: left;
        margin: 20px 0px;
    }

    .bt-cep img {
        margin-top: -5px;
        margin-left: 10px;
    }

    .bt-cupom img {
        margin-top: -5px;
        margin-left: 10px;
    }
    
    .page-checkout_cart #tabela_carrinho td:first-child img {
        padding: 5px;
    }
    
    .page-checkout_cart #tabela_carrinho tr:last-child td:last-child {
        text-align: left;
    }
       
    .page-checkout_cart #tabela_carrinho tr:last-child td, .page-checkout_cart #tabela_carrinho th, .page-checkout_cart #tabela_carrinho a strong, .page-checkout_cart #tabela_carrinho .valores_carrinho, .page-checkout_cart #tabela_carrinho .valores_carrinho {
        font-size: 9pt;
    }
    
    .page-checkout_cart .caixa-produto {
        margin-bottom: 30px;
        min-height: 200px;
    }
}
/*
.container2 {
    height: 0px;
}*/

table .sub-total {
    display: none;
}

.page-checkout_cart .caixa-total .container2{
    margin-top: 20px;
    margin-bottom: 30px;
}

table th .color {
    font-size: 15px;
}

.page-checkout_cart #tabela_carrinho {
    margin-top: -15px;
}

.page-checkout_cart #tabela_carrinho tbody td h4.color {
    margin-left: 15px;
    font-size: 14px;
}

.page-checkout_cart #tabela_carrinho tbody td h5 {
    font: 500 13px 'Oxygen', sans-serif;
    margin-left: 15px;
}

.page-checkout_cart .caixa-botoes .botao-commerce.botao-prosseguir-compra a{
    color: #fff !important;
    
}