/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26/01/2017, 11:40:46
    Author     : MarceloMacedo
*/

.footer_content {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    background-color: #ececec;
    text-align: center;
}

.footer_contact {
    margin-top: 30px;
}

.footer_contact h4 {
    font-family: OswaldBold;
    font-size: 23pt;
    line-height: 30px;
    letter-spacing: -1px;
}

.footer_contact span {
    font-size: 14pt;
    line-height: 20px;
    margin-left: -10px;
}

.footer_contact h5 {
    font-family: OswaldBold;
    font-size: 11pt;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 20px;
}



.footer_contactus img {
    float:left;
}

.footer_contact h6 {
    font-family: OxygenRegular;
    font-size: 10pt;
    color: #333;
    margin-top: 5px;
}

@media (min-width: 768px)
{
    #logosBdpLab {
        margin-top: 35px;
    }

    .ft_AreaImage {
        float: left;
    }

    .footer_contactus {
        padding: 0px 2px;
        margin-right: -22px;
    }

    .footer_contactus img {
        float: left;
        position: absolute;
        left: 0px;
    }

    .footer_options h5 {
        font-family: OswaldBold;
        font-size: 11pt;
        line-height: 30px;
        color: #434343;
    }

    .footer_options {
        margin-top: 30px;
        text-align: left;
        min-height: 150px;
    }

    .footer_options h6 {
        font-family: OxygenRegular;
        font-size: 10pt;
        color: #232323;
        margin-top: 4px;
        margin-left: 2px;
    }

    center {
        text-align: left;
    }
    .Aligncenter img{
        position: absolute;
        left: 35%;
    }

    
.aboveFooter_content {
    text-align: center;
    margin-top: 5px;
}

.aboveFooter_content h4 {
    font-family: OxygenRegular;
    font-size: 9pt;
    line-height: 20px;
    text-align: center;
    margin-bottom: 5px;
}

}

@media (max-width: 768px)
{   
    .logotray-message {
        display: none!important;
    }

    .timelogotray {
        display: none!important;
    }

    .aboveFooter_content h4 {
        font-family: OxygenRegular;
        font-size: 7pt;
        line-height: 20px;
        text-align: center;
    }

    .aboveFooter_content {
        text-align: center;
        margin-top: 15px;
    }

    #neoassist {
        display: none!important;
    }

    .footer_contactus {
        margin: auto;
    }

    .aboveFooter_content h4 {
        padding: 0px 2px;
    }

    .aboveFooter_content {
        background: white;
    }
    
    .footer_contactus {
        max-width: 185px;
        padding: 0px 5px;
    }

    .footer_options h5 {
        font-family: OswaldBold;
        font-size: 12pt;
        line-height: 30px;
        color: #434343;
        margin-bottom: 8px;
    }

    .footer_options {
        text-align: center;
    }

    #footer_bandup {
        margin-top: 30px;
        text-align: center;
        min-height: 0px;
    }

    .footer_options {
        margin-top: 30px;
        min-height: 120px;
    }
    
    #logosBdpLab {
        margin-top: 30px;
    }

    .footer_options h6 {
        font-family: OxygenRegular;
        font-size: 10pt;
        color: #232323;
        margin-top: 4px;
    }
    .Aligncenter img{
        position: absolute;
        left: 36%;
    }

    .footer_content, .container, .row, .col-md-2 {
        z-index: 9000;
    }
}






.footer_icon {
    position: absolute;
    margin-top: -18px;
    left: 90%;
    z-index: 99;
}