body {
    background-color: #fff;
}
.banner {
    border: none;
}

.first {
    float: left;
    margin-right: 15px;
}

.rowNoSpacing {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.imgBannerEx3 {
    width: 100%;
    margin: 0;
    border:0;
}

.showcaseRow {
    margin: 10px 0 30px 0;
    padding-right: 5px;
    padding-left: 0;
}

.showcaseRow ul {
    margin-left: 15px;
}

.lineSeparate {
    display: block;
    border: 1.4px solid #000;
    margin: 10px -4px 10px 2px;
}

@media (min-width: 768px) {
    .lineSeparateFooter {
        display: block;
        border: 1px solid #000;
        margin: 10px -2px 10px 2px;
    }
    .nospacing {
        padding-left: 15px;
        padding-right: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .lineSeparateFooter {
        display: block;
        border: 1.4px solid #000;
        margin: 10px -2px 10px 2px;
    }   
    .nospacing {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .lineSeparate {
        border: 1px solid #000;
    }
}

.showcase>h2 strong {
    text-align: center;
    font-family: BebasNeueBook;
    font-size: 30pt;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.product .product-name {
    height: auto;
    margin-bottom: 3px;
    font-family: LatoRegular;
    line-height: 15px;
    padding: 3px 0px;    
    font-size: 10pt;
    margin-top: 4px;
}

.product {
    padding: 10px;
}

.product .product-price {
    height: auto;
    margin-bottom: 3px;
    line-height: 18px;
    font-family: LatoRegular;
    font-size: 12pt;
}

.product-price span {
    font-family: LatoRegular;
}

.product-price strong {
    font-size: 14pt;
    letter-spacing: -1px;
}

.product-payment span {
    font-family: OxygenBold;
}

.home_Cadastre {
    background-color: #232323;
    color: #fff;
}

.home_CadastreContainer h4 {
    font-family: OswaldRegular;
    font-size: 18pt;
    font-weight: 800;
    padding-bottom: 20px;
}

.home_CadastreContainer h6 {
    font-family: OxygenRegular;
    font-size: 9pt;
    width: 80%;
    margin: auto;
}

.home_CadastreEmail {
    margin-top: 20px;
    width: 80%;
    margin: 20px auto;
}

.home_CadastreEmail input {
    font-family: OxygenRegular;
    font-size: 9pt;
}

.product {
    border: none;
}

@media (min-width: 768px) {
    .product .product-image {
        border-bottom: none;
        
    }
    
    .home_CadastreContainer {
        width: 100%;
        height: 283px;
        text-align: center;
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .product .product-image {
        border-bottom: none;
        height: 100%;
    }
    .home_Cadastre {
        margin-top: 20px;
    }
    .product .product-image:before {
        height: auto;
    }

    .product .product-image img {
        max-width: 100%;
    }

    .home_CadastreContainer {
        width: 100%;
        height: 265px;
        text-align: center;
        padding-top: 40px;
    }
}



.showcase>h2 {
    margin-top: 20px;
}

#breadcrumDestaq {
    font-family: OswaldBold;
    font-size: 15pt;
    font-weight: bold;
    color: #232323;
}

#capitalize {
    text-transform: lowercase;
}

.breadcrumb .icon-breadcrumb, .breadcrumb a {
    font-family: OxygenRegular;
    margin: auto;
    color: #232323;
}

.page-catalog .breadcrumb, .page-search .breadcrumb {
    float: left;
    margin-right: 40px;
}

.page-catalog .catalog-header, .page-search .catalog-header {
    border: none;
    font-family: OxygenRegular;
    font-size: 15pt;
    margin: auto;
}

.iconGoin {
    color: #9c9c9c;
    font-family: OxygenRegular;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.personalizedFilter {
    font-family: OxygenRegular;
    font-size: 9pt;
}

.selectDesigner {
    padding: 7px;
    -webkit-appearance: normal;
    -moz-appearance: none;
}
.page-catalog .catalog-footer {
    border: none;
    margin-bottom: 80px;
}

.paginateCatalog {
    position: absolute;
    right: 0;
    font-size: 10pt;
}
@media (min-width: 768px) {
    .paginateCatalog {
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .paginateCatalog {
        margin-top: -30px;
    }
}

.page-catalog .page-link.page-current {
    font-weight: 900;
    color: #000;
}

.page-catalog .btns-paginator, .page-catalog .page-link, .page-search .btns-paginator, .page-search .page-link {
    border: none;
    font-family: OxygenRegular;
    color: #232323;
}


.page-catalog .btns-paginator, .page-catalog .page-link, .page-search .btns-paginator, .page-search .page-link {
    font-family: OxygenRegular;
    border: none;
    margin: 0px;
}
.breadcrumb-item {
    font-family: OxygenRegular;
}

.page-catalog .catalog-name, .page-search .catalog-name {
    color: #3d4445;
    /* margin-bottom: 15px; */
    font-family: OxygenRegular;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 28px;
}

.page-search .pagination {
    color: #3d4445;
    font-size: 1.4rem;
    line-height: 0px;
}

.page-search .catalog-footer {
    background: none;
    border: none;
    margin: 15px 0px;
    padding: 15px;
}

#NavLogoTray {
    display: none;
}

@media (max-width: 767px) {
    #owl-demo{
        top: 145px;
    }
    #BannerMobile{
        top:145px;
    }
    
    .bannerHomeMobile button.slick-prev, .bannerHomeMobile button.slick-next {
        display: none !important;
    }
    
    .col-xs-4, .col-sm-4, .col-md-7, .col-md-5, .col-md-4, .col-sm-5, .col-sm-12{
        padding: 0;
        
    }
    .topCategory {
        min-width: 100%; 
        padding: 0;
    }
    .page-catalog .catalog-header, .page-search .catalog-header {
        padding-left: 0px;
    }
    .level1 {
        text-align: left;
    }
    
    #CadastroAbas>li, #ProdAbas .aberta, #ProdAbas li {
        display: block !important;
        height: auto !important;
    }
    #ProdAbas .aberta >a, #ProdAbas li>a {
        margin: auto !important;
    }
}